In [11]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
df = pd.read_csv('iris.csv', sep=",")

In [3]:
print("Table")
df.head()

Table

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
for _type_ in df.dtypes.unique():
    print(_type_)

float64
object

In [5]:
df_test = pd.DataFrame(data=[[3], [2]], columns=['Values'], index=['Number of rows', 'Number of columns'])

In [6]:
df_test

                   Values
Number of rows          3
Number of columns       2

In [19]:
types = [key for key in Counter(df.dtypes).keys()]
values = [value for value in Counter(df.dtypes).values()]

In [20]:
values

[4, 1]