In [23]:
import pandas as pd
import numpy as np
from collections import Counter
from typing import Any, List, Tuple, Union

In [24]:
df = pd.read_csv('iris.csv', sep=",")

In [25]:
print("Table")
df.head()

Table

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
for _type_ in df.dtypes.unique():
    print(_type_)

float64
object

In [27]:
df_test = pd.DataFrame(data=[[3], [2]], columns=['Values'], index=['Number of rows', 'Number of columns'])

In [36]:
df_test.dtypes

Values    int64
dtype: object

In [29]:
types = [str(key) for key in Counter(df.dtypes).keys()]
values = [[value] for value in Counter(df.dtypes).values()]

In [30]:
def outer_function(a, b):
    def inner_function_1(a):
        return a + 1
    def inner_function_2(b):
        return b + 2
    return inner_function_1(a) + inner_function_2(b)

In [31]:
outer_function(1, 4)

8

In [32]:
types

['float64', 'object']

In [33]:
values

[[4], [1]]

In [34]:
def data_summary(obj: Union[pd.DataFrame, pd.Series]) -> pd.DataFrame:
    def __shape(obj: Union[pd.DataFrame, pd.Series]) -> pd.DataFrame:
        row, col = obj.shape
        return pd.DataFrame(data=[[row], [col]], columns=['Values'], index=['Number of rows', 'Number of columns'])
    def __dtype_freq(obj: Union[pd.DataFrame, pd.Series]) -> pd.DataFrame:
        types = [str(key) for key in Counter(obj.dtypes).keys()]
        values = [[value] for value in Counter(obj.dtypes).values()]
        return pd.DataFrame(data=values, columns=['Values'], index=types)
    return pd.concat([__shape(obj), __dtype_freq(obj)])

In [42]:
print("--- Data Summary ------------------\n")
print(data_summary(df))
print("\n--- Data Summary ------------------")

--- Data Summary ------------------

                   Values
Number of rows        150
Number of columns       5
float64                 4
object                  1

--- Data Summary ------------------

In [46]:
test_df_1 = pd.DataFrame(
            data=[[1, 'a'], [2, 'b'], [3, 'c']],
            columns=['numbers', 'letters']
            )
data_summary(test_df_1)

                   Values
Number of rows          3
Number of columns       2
int64                   1
object                  1